header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
}

.logo {
  color: black;
  font-family: var(--serif);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  white-space: nowrap;
}

.game {
  overflow: auto;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  position: absolute;
  display: grid;
  width: 50%;
  max-width: max-content;
  max-height: 50%;
  border: 1px solid black;
  box-shadow: 4px 4px 8px 0 black;
  background-color: white;
  font-size: 0.7rem;
  list-style: none;
  overflow: auto;
}

li {
  padding: 0.5rem;
}

li:nth-child(2n + 1) {
  background-color: #eee;
}

a {
  color: black;
}

.alert {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 0.5rem;
  border: 1px solid black;
  box-shadow: 4px 4px 8px 0 black;
  background-color: white;
  transform: translateX(-50%);
}
